function Cat.init 0
push constant 0
pop static 0
push constant 1
pop static 1
push constant 2
pop static 2
push constant 16
pop static 3
push constant 16384
pop static 4
push constant 0
return
function Cat.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 1
push constant 0
pop this 2
label IF_FALSE0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 496
pop this 1
push constant 240
pop this 2
label IF_FALSE1
push argument 0
pop this 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push pointer 0
call Cat.drawStanding 1
pop temp 0
push pointer 0
return
function Cat.dispose 0
push argument 0
pop pointer 0
push constant 1
neg
pop this 1
push constant 1
neg
pop this 2
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Cat.getID 0
push argument 0
pop pointer 0
push this 0
return
function Cat.getX 0
push argument 0
pop pointer 0
push this 1
return
function Cat.getY 0
push argument 0
pop pointer 0
push this 2
return
function Cat.getStatus 0
push argument 0
pop pointer 0
push this 3
return
function Cat.setStatus 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Cat.getPushedByMouse 0
push argument 0
pop pointer 0
push this 4
return
function Cat.setPushedByMouse 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Cat.getSquashed 0
push argument 0
pop pointer 0
push this 5
return
function Cat.setSquashedToTrue 0
push argument 0
pop pointer 0
push constant 0
not
pop this 5
push constant 0
return
function Cat.drawStanding 1
push argument 0
pop pointer 0
push static 4
push constant 32
push this 2
call Math.multiply 2
add
push this 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 17410
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 22014
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 17918
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32255
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 21507
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32253
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 28159
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 27649
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4097
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4602
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 9498
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 23849
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 21833
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 26994
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3612
call Memory.poke 2
pop temp 0
push constant 0
return
function Cat.drawSitting 1
push argument 0
pop pointer 0
push static 4
push constant 32
push this 2
call Math.multiply 2
add
push this 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 17408
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 22016
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 17920
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 21512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32252
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 28158
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 27650
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4099
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 5317
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 11529
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 5105
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3074
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Cat.drawCheese 1
push argument 0
pop pointer 0
push static 4
push constant 32
push this 2
call Math.multiply 2
add
push this 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16382
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32762
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 24562
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 20450
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 18370
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 9092
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4104
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Cat.draw 0
push argument 0
pop pointer 0
push this 3
push static 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Cat.drawStanding 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 3
push static 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cat.drawSitting 1
pop temp 0
push constant 0
return
label IF_FALSE1
push this 3
push static 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Cat.drawCheese 1
pop temp 0
push constant 0
return
label IF_FALSE2
push constant 0
return
function Cat.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 1
push static 3
add
push constant 1
sub
push this 2
push static 3
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Cat.inLocation 0
push argument 0
pop pointer 0
push this 1
push argument 1
eq
push this 2
push argument 2
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Cat.standingCatInLocation 1
push static 4
push constant 32
push argument 1
push constant 4
add
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
call Memory.peek 1
push constant 32255
neg
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Cat.catInLocation 1
push static 4
push constant 32
push argument 1
push constant 4
add
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
call Memory.peek 1
push constant 32255
neg
eq
push local 0
call Memory.peek 1
push constant 32256
neg
eq
or
push local 0
call Memory.peek 1
push constant 16382
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Cat.canMoveDownLeft 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
push this 2
push constant 240
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push constant 16
sub
push this 2
push constant 16
add
call Block.blockInLocation 2
push this 1
push constant 16
sub
push this 2
push constant 16
add
call Cat.catInLocation 2
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
not
return
function Cat.canMoveDownRight 0
push argument 0
pop pointer 0
push this 1
push constant 496
eq
push this 2
push constant 240
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push constant 16
add
push this 2
push constant 16
add
call Block.blockInLocation 2
push this 1
push constant 16
add
push this 2
push constant 16
add
call Cat.catInLocation 2
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
not
return
function Cat.canMoveUpLeft 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
push this 2
push constant 0
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push constant 16
sub
push this 2
push constant 16
sub
call Block.blockInLocation 2
push this 1
push constant 16
sub
push this 2
push constant 16
sub
call Cat.catInLocation 2
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
not
return
function Cat.canMoveUpRight 0
push argument 0
pop pointer 0
push this 1
push constant 496
eq
push this 2
push constant 0
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push constant 16
add
push this 2
push constant 16
sub
call Block.blockInLocation 2
push this 1
push constant 16
add
push this 2
push constant 16
sub
call Cat.catInLocation 2
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
not
return
function Cat.canMoveUp 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push this 2
push constant 16
sub
call Block.blockInLocation 2
push this 1
push this 2
push constant 16
sub
call Cat.catInLocation 2
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
not
return
function Cat.canMoveDown 0
push argument 0
pop pointer 0
push this 2
push constant 240
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push this 2
push constant 16
add
call Block.blockInLocation 2
push this 1
push this 2
push constant 16
add
call Cat.catInLocation 2
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
not
return
function Cat.canMoveLeft 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push constant 16
sub
push this 2
call Block.blockInLocation 2
push this 1
push constant 16
sub
push this 2
call Cat.catInLocation 2
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
not
return
function Cat.canMoveRight 0
push argument 0
pop pointer 0
push this 1
push constant 496
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push constant 16
add
push this 2
call Block.blockInLocation 2
push this 1
push constant 16
add
push this 2
call Cat.catInLocation 2
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
not
return
function Cat.canMove 0
push argument 0
pop pointer 0
push this 3
push static 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
call Cat.canMoveDownLeft 1
push pointer 0
call Cat.canMoveDownRight 1
or
push pointer 0
call Cat.canMoveUpLeft 1
or
push pointer 0
call Cat.canMoveUpRight 1
or
push pointer 0
call Cat.canMoveUp 1
or
push pointer 0
call Cat.canMoveDown 1
or
push pointer 0
call Cat.canMoveLeft 1
or
push pointer 0
call Cat.canMoveRight 1
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push constant 0
return
function Cat.move 0
push argument 0
pop pointer 0
push pointer 0
call Cat.canMove 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 1
push this 1
gt
push argument 2
push this 2
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cat.moveTowardsMouseDownRight 1
pop temp 0
push constant 0
return
label IF_FALSE1
push argument 1
push this 1
gt
push argument 2
push this 2
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Cat.moveTowardsMouseRight 1
pop temp 0
push constant 0
return
label IF_FALSE2
push argument 1
push this 1
gt
push argument 2
push this 2
lt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Cat.moveTowardsMouseUpRight 1
pop temp 0
push constant 0
return
label IF_FALSE3
push argument 1
push this 1
eq
push argument 2
push this 2
gt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Cat.moveTowardsMouseDown 1
pop temp 0
push constant 0
return
label IF_FALSE4
push argument 1
push this 1
eq
push argument 2
push this 2
lt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Cat.moveTowardsMouseUp 1
pop temp 0
push constant 0
return
label IF_FALSE5
push argument 1
push this 1
lt
push argument 2
push this 2
gt
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Cat.moveTowardsMouseDownLeft 1
pop temp 0
push constant 0
return
label IF_FALSE6
push argument 1
push this 1
lt
push argument 2
push this 2
eq
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Cat.moveTowardsMouseLeft 1
pop temp 0
push constant 0
return
label IF_FALSE7
push argument 1
push this 1
lt
push argument 2
push this 2
lt
and
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
call Cat.moveTowardsMouseUpLeft 1
pop temp 0
push constant 0
return
label IF_FALSE8
push constant 0
return
function Cat.moveTowardsMouseDownLeft 0
push argument 0
pop pointer 0
push pointer 0
call Cat.canMoveDownLeft 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Cat.moveDownLeft 1
pop temp 0
push constant 0
return
label IF_FALSE0
push pointer 0
call Cat.canMoveDown 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cat.moveDown 1
pop temp 0
push constant 0
return
label IF_FALSE1
push pointer 0
call Cat.canMoveLeft 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Cat.moveLeft 1
pop temp 0
push constant 0
return
label IF_FALSE2
push pointer 0
call Cat.canMoveDownRight 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Cat.moveDownRight 1
pop temp 0
push constant 0
return
label IF_FALSE3
push pointer 0
call Cat.canMoveUpLeft 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Cat.moveUpLeft 1
pop temp 0
push constant 0
return
label IF_FALSE4
push pointer 0
call Cat.canMoveRight 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Cat.moveRight 1
pop temp 0
push constant 0
return
label IF_FALSE5
push pointer 0
call Cat.canMoveUp 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Cat.moveUp 1
pop temp 0
push constant 0
return
label IF_FALSE6
push pointer 0
call Cat.canMoveUpRight 1
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Cat.moveUpRight 1
pop temp 0
push constant 0
return
label IF_FALSE7
push constant 0
return
function Cat.moveTowardsMouseDownRight 0
push argument 0
pop pointer 0
push pointer 0
call Cat.canMoveDownRight 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Cat.moveDownRight 1
pop temp 0
push constant 0
return
label IF_FALSE0
push pointer 0
call Cat.canMoveRight 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cat.moveRight 1
pop temp 0
push constant 0
return
label IF_FALSE1
push pointer 0
call Cat.canMoveDown 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Cat.moveDown 1
pop temp 0
push constant 0
return
label IF_FALSE2
push pointer 0
call Cat.canMoveUpRight 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Cat.moveUpRight 1
pop temp 0
push constant 0
return
label IF_FALSE3
push pointer 0
call Cat.canMoveDownLeft 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Cat.moveDownLeft 1
pop temp 0
push constant 0
return
label IF_FALSE4
push pointer 0
call Cat.canMoveLeft 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Cat.moveLeft 1
pop temp 0
push constant 0
return
label IF_FALSE5
push pointer 0
call Cat.canMoveUp 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Cat.moveUp 1
pop temp 0
push constant 0
return
label IF_FALSE6
push pointer 0
call Cat.canMoveUpLeft 1
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Cat.moveUpLeft 1
pop temp 0
push constant 0
return
label IF_FALSE7
push constant 0
return
function Cat.moveTowardsMouseUpLeft 0
push argument 0
pop pointer 0
push pointer 0
call Cat.canMoveUpLeft 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Cat.moveUpLeft 1
pop temp 0
push constant 0
return
label IF_FALSE0
push pointer 0
call Cat.canMoveLeft 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cat.moveLeft 1
pop temp 0
push constant 0
return
label IF_FALSE1
push pointer 0
call Cat.canMoveUp 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Cat.moveUp 1
pop temp 0
push constant 0
return
label IF_FALSE2
push pointer 0
call Cat.canMoveDownLeft 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Cat.moveDownLeft 1
pop temp 0
push constant 0
return
label IF_FALSE3
push pointer 0
call Cat.canMoveUpRight 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Cat.moveUpRight 1
pop temp 0
push constant 0
return
label IF_FALSE4
push pointer 0
call Cat.canMoveDown 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Cat.moveDown 1
pop temp 0
push constant 0
return
label IF_FALSE5
push pointer 0
call Cat.canMoveRight 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Cat.moveRight 1
pop temp 0
push constant 0
return
label IF_FALSE6
push pointer 0
call Cat.canMoveDownRight 1
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Cat.moveDownRight 1
pop temp 0
push constant 0
return
label IF_FALSE7
push constant 0
return
function Cat.moveTowardsMouseUpRight 0
push argument 0
pop pointer 0
push pointer 0
call Cat.canMoveUpRight 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Cat.moveUpRight 1
pop temp 0
push constant 0
return
label IF_FALSE0
push pointer 0
call Cat.canMoveRight 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cat.moveRight 1
pop temp 0
push constant 0
return
label IF_FALSE1
push pointer 0
call Cat.canMoveUp 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Cat.moveUp 1
pop temp 0
push constant 0
return
label IF_FALSE2
push pointer 0
call Cat.canMoveDownRight 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Cat.moveDownRight 1
pop temp 0
push constant 0
return
label IF_FALSE3
push pointer 0
call Cat.canMoveUpLeft 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Cat.moveUpLeft 1
pop temp 0
push constant 0
return
label IF_FALSE4
push pointer 0
call Cat.canMoveDown 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Cat.moveDown 1
pop temp 0
push constant 0
return
label IF_FALSE5
push pointer 0
call Cat.canMoveLeft 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Cat.moveLeft 1
pop temp 0
push constant 0
return
label IF_FALSE6
push pointer 0
call Cat.canMoveDownLeft 1
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Cat.moveDownLeft 1
pop temp 0
push constant 0
return
label IF_FALSE7
push constant 0
return
function Cat.moveTowardsMouseUp 0
push argument 0
pop pointer 0
push pointer 0
call Cat.canMoveUp 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Cat.moveUp 1
pop temp 0
push constant 0
return
label IF_FALSE0
push pointer 0
call Cat.canMoveUpLeft 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cat.moveUpLeft 1
pop temp 0
push constant 0
return
label IF_FALSE1
push pointer 0
call Cat.canMoveUpRight 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Cat.moveUpRight 1
pop temp 0
push constant 0
return
label IF_FALSE2
push pointer 0
call Cat.canMoveRight 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Cat.moveRight 1
pop temp 0
push constant 0
return
label IF_FALSE3
push pointer 0
call Cat.canMoveLeft 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Cat.moveLeft 1
pop temp 0
push constant 0
return
label IF_FALSE4
push pointer 0
call Cat.canMoveDownLeft 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Cat.moveDownLeft 1
pop temp 0
push constant 0
return
label IF_FALSE5
push pointer 0
call Cat.canMoveDownRight 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Cat.moveDownRight 1
pop temp 0
push constant 0
return
label IF_FALSE6
push pointer 0
call Cat.canMoveDown 1
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Cat.moveDown 1
pop temp 0
push constant 0
return
label IF_FALSE7
push constant 0
return
function Cat.moveTowardsMouseDown 0
push argument 0
pop pointer 0
push pointer 0
call Cat.canMoveDown 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Cat.moveDown 1
pop temp 0
push constant 0
return
label IF_FALSE0
push pointer 0
call Cat.canMoveDownRight 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cat.moveDownRight 1
pop temp 0
push constant 0
return
label IF_FALSE1
push pointer 0
call Cat.canMoveDownLeft 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Cat.moveDownLeft 1
pop temp 0
push constant 0
return
label IF_FALSE2
push pointer 0
call Cat.canMoveLeft 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Cat.moveLeft 1
pop temp 0
push constant 0
return
label IF_FALSE3
push pointer 0
call Cat.canMoveRight 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Cat.moveRight 1
pop temp 0
push constant 0
return
label IF_FALSE4
push pointer 0
call Cat.canMoveUpRight 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Cat.moveUpRight 1
pop temp 0
push constant 0
return
label IF_FALSE5
push pointer 0
call Cat.canMoveUpLeft 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Cat.moveUpLeft 1
pop temp 0
push constant 0
return
label IF_FALSE6
push pointer 0
call Cat.canMoveUp 1
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Cat.moveUp 1
pop temp 0
push constant 0
return
label IF_FALSE7
push constant 0
return
function Cat.moveTowardsMouseLeft 0
push argument 0
pop pointer 0
push pointer 0
call Cat.canMoveLeft 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Cat.moveLeft 1
pop temp 0
push constant 0
return
label IF_FALSE0
push pointer 0
call Cat.canMoveUpLeft 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cat.moveUpLeft 1
pop temp 0
push constant 0
return
label IF_FALSE1
push pointer 0
call Cat.canMoveDownLeft 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Cat.moveDownLeft 1
pop temp 0
push constant 0
return
label IF_FALSE2
push pointer 0
call Cat.canMoveDown 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Cat.moveDown 1
pop temp 0
push constant 0
return
label IF_FALSE3
push pointer 0
call Cat.canMoveUp 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Cat.moveUp 1
pop temp 0
push constant 0
return
label IF_FALSE4
push pointer 0
call Cat.canMoveUpRight 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Cat.moveUpRight 1
pop temp 0
push constant 0
return
label IF_FALSE5
push pointer 0
call Cat.canMoveDownRight 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Cat.moveDownRight 1
pop temp 0
push constant 0
return
label IF_FALSE6
push pointer 0
call Cat.canMoveRight 1
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Cat.moveRight 1
pop temp 0
push constant 0
return
label IF_FALSE7
push constant 0
return
function Cat.moveTowardsMouseRight 0
push argument 0
pop pointer 0
push pointer 0
call Cat.canMoveRight 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Cat.moveRight 1
pop temp 0
push constant 0
return
label IF_FALSE0
push pointer 0
call Cat.canMoveUpRight 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cat.moveUpRight 1
pop temp 0
push constant 0
return
label IF_FALSE1
push pointer 0
call Cat.canMoveDownRight 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Cat.moveDownRight 1
pop temp 0
push constant 0
return
label IF_FALSE2
push pointer 0
call Cat.canMoveDown 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Cat.moveDown 1
pop temp 0
push constant 0
return
label IF_FALSE3
push pointer 0
call Cat.canMoveUp 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Cat.moveUp 1
pop temp 0
push constant 0
return
label IF_FALSE4
push pointer 0
call Cat.canMoveUpLeft 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Cat.moveUpLeft 1
pop temp 0
push constant 0
return
label IF_FALSE5
push pointer 0
call Cat.canMoveDownLeft 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Cat.moveDownLeft 1
pop temp 0
push constant 0
return
label IF_FALSE6
push pointer 0
call Cat.canMoveLeft 1
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Cat.moveLeft 1
pop temp 0
push constant 0
return
label IF_FALSE7
push constant 0
return
function Cat.moveDownLeft 0
push argument 0
pop pointer 0
push pointer 0
call Cat.erase 1
pop temp 0
push this 1
push constant 16
sub
pop this 1
push this 2
push constant 16
add
pop this 2
push pointer 0
call Cat.draw 1
pop temp 0
push constant 0
return
function Cat.moveDownRight 0
push argument 0
pop pointer 0
push pointer 0
call Cat.erase 1
pop temp 0
push this 1
push constant 16
add
pop this 1
push this 2
push constant 16
add
pop this 2
push pointer 0
call Cat.draw 1
pop temp 0
push constant 0
return
function Cat.moveUpLeft 0
push argument 0
pop pointer 0
push pointer 0
call Cat.erase 1
pop temp 0
push this 1
push constant 16
sub
pop this 1
push this 2
push constant 16
sub
pop this 2
push pointer 0
call Cat.draw 1
pop temp 0
push constant 0
return
function Cat.moveUpRight 0
push argument 0
pop pointer 0
push pointer 0
call Cat.erase 1
pop temp 0
push this 1
push constant 16
add
pop this 1
push this 2
push constant 16
sub
pop this 2
push pointer 0
call Cat.draw 1
pop temp 0
push constant 0
return
function Cat.moveUp 0
push argument 0
pop pointer 0
push pointer 0
call Cat.erase 1
pop temp 0
push this 2
push constant 16
sub
pop this 2
push pointer 0
call Cat.draw 1
pop temp 0
push constant 0
return
function Cat.moveDown 0
push argument 0
pop pointer 0
push pointer 0
call Cat.erase 1
pop temp 0
push this 2
push constant 16
add
pop this 2
push pointer 0
call Cat.draw 1
pop temp 0
push constant 0
return
function Cat.moveLeft 0
push argument 0
pop pointer 0
push pointer 0
call Cat.erase 1
pop temp 0
push this 1
push constant 16
sub
pop this 1
push pointer 0
call Cat.draw 1
pop temp 0
push constant 0
return
function Cat.moveRight 0
push argument 0
pop pointer 0
push pointer 0
call Cat.erase 1
pop temp 0
push this 1
push constant 16
add
pop this 1
push pointer 0
call Cat.draw 1
pop temp 0
push constant 0
return
