function GuiPip.get_x_size 0
push constant 48
return
function GuiPip.get_y_size 0
push constant 46
return
function GuiPip.draw 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
add
pop local 0
push local 0
push constant 1
add
push constant 0
add
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 32
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 32
add
push constant 32767
push constant 1
add
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 64
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 64
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 96
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 96
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 128
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 128
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 160
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 160
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 192
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 192
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 224
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 224
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 256
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 256
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 288
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 288
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 320
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 320
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 352
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 352
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 384
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 384
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 416
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 416
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 448
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 448
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 480
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 480
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 512
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 512
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 512
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 544
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 544
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 544
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 576
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 576
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 576
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 608
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 608
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 608
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 640
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 640
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 640
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 672
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 672
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 672
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 704
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 704
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 704
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 736
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 736
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 736
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 768
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 768
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 768
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 800
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 800
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 800
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 832
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 832
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 832
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 864
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 864
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 864
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 896
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 896
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 896
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 928
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 928
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 928
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 960
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 960
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 960
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 992
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 992
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 992
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1024
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1024
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1024
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1056
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1056
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1056
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1088
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1088
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1088
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1120
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1120
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1120
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1152
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1152
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1152
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1184
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1184
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1184
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1216
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1216
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1216
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1248
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1248
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1248
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1280
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1280
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1280
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1312
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1312
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1312
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1344
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1344
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1344
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1376
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1376
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1376
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1408
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 1408
add
push constant 32767
push constant 1
add
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1440
add
push constant 4092
call Memory.poke 2
pop temp 0
push constant 0
return
function GuiPip.blank 4
push argument 0
push constant 16
call Math.multiply 2
pop local 0
push argument 1
pop local 1
push local 0
push constant 47
add
pop local 2
push local 1
push constant 46
add
pop local 3
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 2
push local 3
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
